body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: black url('bg-complog.jpeg') no-repeat center center;
  background-size: contain;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
}

#loading {
  font-size: 18px;
}

#content.hidden {
  display: none;
}

#content {
  margin-top: 100px;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: 35px;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.info i {
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button-container {
  margin-top: 40px;
}

.import-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  display: in/ine-block;
}
