body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('./bg-complog.jpeg') no-repeat center center fixed;
  background-size: contain;
  background-color: black;
  color: white;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  margin: 20px auto;
  display: block;
}

#loading {
  margin-top: 50px;
}

.hidden {
  display: none;
}

h1 {
  margin: 10px 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

p {
  margin: 1px 0;
  text-align: left;
}

.info {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0;
  gap: 10px;
}

.info.address {
  flex-direction: column;
  gap: 0;
}

.info i {
  font-size: 18px;
}

.importar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

#content {
  margin-top: 176px;
}

.teste {
  margin-top: 25px;
}


.link {
  text-decoration: none;
  color: white;
}
